hr {
  margin: 10px;
}
h4 {
  margin: 8px 0;
}
.container {
  max-width: 888px;
  margin-top: 103px;
  border: 1px solid transparent;
  padding: 20px;
  font-family: "M PLUS Rounded 1c", sans-serif;
  color: #5dc6ac;
  border-radius: 10px;
}
.weather-now {
  text-align: center;
  border: 1px solid #3e817a;
  border-radius: 50%;
  background: #fff;
  margin: 5px 20px;
  padding: 40px 0;
}
.temperature-now {
  font-size: 70px;
  margin-bottom: 0;
}
.switch,
.switch-f,
.switch-c {
  font-size: 15px;
}
.weather-condition {
  font-size: 35px;
  font-style: italic;
}
.date-today {
  margin: 0 15px 10px 0;
}
.today {
  font-weight: 600;
  margin-top: 15px;
  margin-bottom: 5px;
  font-size: 30;
}
.max-min {
  margin: 0;
}

.next-five {
  margin: 15px 0 0 10px;
}
.forecast {
  padding: 11px 11px 8px 11px;
}
.forecast-card-group {
  margin: 0 7px 0 7px;
}
.forecast-card {
  margin: 4px;
  text-align: center;
  padding: 5px;
  border-radius: 10px;
}

.city-details {
  text-align: right;
  padding-left: 0;
}
.left-weather-info {
  padding: 0 10px;
}

.city-name {
  font-size: 60px;
  margin-bottom: 20px;
}
.form-buttons {
  margin: 10px 0;
}
.change-city-search {
  font-size: 12px;
  text-align: right;
  display: inline-flex;
  line-height: 1.5 !important;
  max-width: 350px;
  position: relative;
}
.col {
  padding: 0px;
}
.fas {
  line-height: 1.5 !important;
}
.temp-pos-21-25 {
  color: #fe4c40;
  background: #fe4c40;
}
.temp-pos-16-20 {
  color: #ffae42;
  background: #ffae42;
}
.temp-pos-11-15 {
  color: #ffff66;
  background: #ffff66;
}
.temp-pos-6-10 {
  color: #cbfdca;
  background: #cbfdca;
}
.temp-pos-1-5 {
  color: #9decf9;
  background: #9decf9;
}
.temp-neg-4-0 {
  color: #5e72eb;
  background: #5e72eb;
}
.temp-neg-5 {
  color: #3c4cac;
  background: #3c4cac;
}
#temp-pos-21-25 {
  background: #fe4c40 !important;
}
#temp-pos-16-20 {
  background: #ffae42 !important;
}
#temp-pos-11-15 {
  background: #ffff66 !important;
}
#temp-pos-6-10 {
  background: #cbfdca !important;
}
#temp-pos-1-5 {
  background: #9decf9 !important;
}
#temp-neg-4-0 {
  background: #5e72eb !important;
}
#temp-neg-5 {
  background: #3c4cac !important;
}
.white-font {
  color: #ecebe9 !important;
}
.grey-font {
  color: #736a62 !important;
}
.fa-circle {
  background-color: #fff !important;
  font-size: 26px;
}
.progress {
  margin: 10px;
}
.wind,
.rain {
  margin: 15px 15px 15px 0;
}
.search-current,
.input-group-append {
  display: inline;
}

.footer {
  font-size: 11px;
  font-family: "M PLUS Rounded 1c", sans-serif;
  text-align: center;
}
