.container {
  max-width: 53%;
  margin-top: 103px;
  border: 1px solid transparent;
  padding: 20px;
  font-family: "M PLUS Rounded 1c", sans-serif;
  color: #3e817a;
  border-radius: 10px;
}
.weather-now {
  text-align: center;
  border: 1px solid #f8b705;
  border-radius: 50%;
  background: RGBA(248, 183, 5, 0.4);
  margin: 5px 20px;
  padding: 40px 0;
}
.temperature-now {
  font-size: 70px;
  margin-bottom: 0;
}
.switch,
.switch-f,
.switch-c {
  font-size: 15px;
}
.weather-condition {
  font-size: 35px;
  font-style: italic;
}

.today {
  font-weight: 600;
  margin-top: 15px;
  margin-bottom: 5px;
  font-size: 30;
}
.max-min {
  margin: 0;
}

.next-five {
  margin: 20px 0 0 10px;
}

hr {
  margin: 10px;
  color: blueviolet;
}

.forecast-card {
  margin: 10px;
  text-align: center;
  padding: 5px;
  border-radius: 10px;
}

.city-details {
  text-align: right;
}
.left-weather-info {
  padding: 0 50px;
  max-width: 450px;
}
h4 {
  margin: 8px 0;
}

.city-name {
  font-size: 60px;
  margin-bottom: 40px;
}
.change-city-search,
.input-group-append {
  font-size: 10px;
  text-align: right;
  display: inline-flex;
  line-height: 1.5 !important;
}
.input-group,
.input-group-append {
  font-size: 10px;
  max-width: 200px;
  display: inline-flex;
  margin: 0 50 0 0;
}
.fas,
.fa-search {
  line-height: 1.5 !important;
}
.temp-max-26-35 {
  background: #e40000;
}
.temp-max-16-25 {
  background: #f8b705;
}
.temp-max-6-15 {
  background: #e1ff16;
  color: #676767;
}
.temp-max-1-5 {
  background: #5dff9a;
  color: #676767;
}
.temp-min-4-0 {
  background: #4cd9ff;
  color: #676767;
}
.temp-min-14-5 {
  background: #1e11ff;
}
.temp-min-15 {
  background: #0d0aaf;
}
.temp-day-1 {
  color: #e40000;
}
.temp-day-2 {
  color: #e1ff16;
}
.temp-day-3 {
  color: #5dff9a;
}
.temp-day-4 {
  color: #4cd9ff;
}
.temp-day-5 {
  color: #1e11ff;
}
.progress {
  margin: 10px;
}

.wind,
.rain {
  margin: 15px 0;
}
.search-current,
.input-group-append {
  display: inline;
}
.footer {
  font-size: 11px;
  font-family: "M PLUS Rounded 1c", sans-serif;
  text-align: center;
}
