hr {
  margin: 10px;
}
h4 {
  margin: 8px 0;
}
.container {
  max-width: 53%;
  margin-top: 103px;
  border: 1px solid transparent;
  padding: 20px;
  font-family: "M PLUS Rounded 1c", sans-serif;
  color: #3e817a;
  border-radius: 10px;
}
.weather-now {
  text-align: center;
  border: 1px solid #f8b705;
  border-radius: 50%;
  background: RGBA(248, 183, 5, 0.4);
  margin: 5px 20px;
  padding: 40px 0;
}
.temperature-now {
  font-size: 70px;
  margin-bottom: 0;
}
.switch,
.switch-f,
.switch-c {
  font-size: 15px;
}
.weather-condition {
  font-size: 35px;
  font-style: italic;
}
.date-today {
  margin-bottom: 10px;
}
.today {
  font-weight: 600;
  margin-top: 15px;
  margin-bottom: 5px;
  font-size: 30;
}
.max-min {
  margin: 0;
}

.next-five {
  margin: 20px 0 0 10px;
}

.forecast-card {
  margin: 10px;
  text-align: center;
  padding: 5px;
  border-radius: 10px;
}

.city-details {
  text-align: right;
}
.left-weather-info {
  padding: 0 50px;
  max-width: 450px;
}

.city-name {
  font-size: 60px;
  margin-bottom: 20px;
}
.form-buttons {
  margin: 10px 0;
}
.change-city-search {
  font-size: 12px;
  text-align: right;
  display: inline-flex;
  line-height: 1.5 !important;
  max-width: 350px;
  position: relative;
}

.fas {
  line-height: 1.5 !important;
}
.temp-pos-21-25 {
  color: #e40000;
  background: #e40000;
}
.temp-pos-16-20 {
  color: #f8b705;
  background: #f8b705;
}
.temp-pos-11-15 {
  color: #e1ff16;
  background: #e1ff16;
}
.temp-pos-6-10 {
  color: #5dff9a;
  background: #5dff9a;
}
.temp-pos-1-5 {
  color: #4cd9ff;
  background: #4cd9ff;
}
.temp-neg-4-0 {
  color: #1e11ff;
  background: #1e11ff;
}
.temp-neg-5 {
  color: #0d0aaf;
  background: #0d0aaf;
}
#temp-pos-21-25 {
  background: #e40000 !important;
}
#temp-pos-16-20 {
  background: #f8b705 !important;
}
#temp-pos-11-15 {
  background: #e1ff16 !important;
}
#temp-pos-6-10 {
  background: #5dff9a !important;
}
#temp-pos-1-5 {
  background: #4cd9ff !important;
}
#temp-neg-4-0 {
  background: #1e11ff !important;
}
#temp-neg-5 {
  background: #0d0aaf !important;
}
.white-font {
  color: #f8f8f8 !important;
}
.grey-font {
  color: #787878 !important;
}
.temp-day-1 {
  color: #3e817a;
  background-color: #fff !important;
}
.temp-day-2 {
  color: #3e817a;
  background-color: #fff !important;
}
.temp-day-3 {
  color: #3e817a;
  background-color: #fff !important;
}
.temp-day-4 {
  color: #3e817a;
  background-color: #fff !important;
}
.temp-day-5 {
  color: #3e817a;
  background-color: #fff !important;
}
.progress {
  margin: 10px;
}
.wind,
.rain {
  margin: 15px 0;
}
.search-current,
.input-group-append {
  display: inline;
}
.footer {
  font-size: 11px;
  font-family: "M PLUS Rounded 1c", sans-serif;
  text-align: center;
}
